<style>
{
box-sizing: border-box;
 }
  /* Mengatur font yang dipakai dan background halaman */
 body {
 font-family: Arial;
  margin: 0;
 background: #038ade;

}

/* Membuat Container menjadi layout flexbox dan kotak login di tengah*/
 .container{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 }

 /* Membuat kotak form login lebar 400px dan background putih*/
 .login-box{
 margin-top: 150px;
 flex-basis: 400px;
 background: #fff;
 padding: 20px;
 }

 /* Mengatur judul form dengan border bawah dan posisi di tengah*/
 .login-box h2{
 border-bottom: 1px solid #ccc;
  color: #555;
 text-align: center;
 padding-bottom: 20px;
 margin: 0 0 20px;
 }

 /* mengatur agar tag input dan select memenuhi container dan tampilan lebih bagus*/
 input, select{
 width: 100%;
 padding: 15px 20px;
 margin: 8px 0;
 border: 1px solid #ccc;
 }
 /*mengatur tampilan tombol submit */
 input[type=submit] {
 background-color: #038ade;
 border: none;
 color: #fff;
 text-decoration: none;
  cursor: pointer;
 }
 /* Mengatur desain header*/
 header{
 background: #038ade;
 color: #fff;
 padding: 15px 20px;
 font-size: 20px;
 }
 /* Mengatur lebar menu 20% dengan background hitam*/
 aside{
 flex: 20%;
 background: #222;
 }
 /* Mengatur lebar konten utama 80% dengan background putih*/
 section.main{
 flex: 80%;
 background: #fff;
 min-height: 530px;
 padding: 15px 20px;
 }
 /* Mengatur footer dengan background abu-abu dan teks di tengah*/
 footer{
    background: #ccc;
 color: #555;
 padding: 20px;
 text-align: center;
 }
 /* Mengatur layout pada layar kecil (responsive)*/
 @media (max-width: 700px) {
     .container {
     flex-direction: column;
     }
     }
    
     /* Navigasi */
     /*Membuang padding tag <ul> */
     .menu{
     padding: 0;
     }
     /*Membuang border bawah tag <li> */
     .menu li{
     border-bottom: 1px dotted #444;
     }
     /*mengatur desain menu yang dibuat dengan tag a */
     .menu a{
     display: block;
     padding: 20px 20px;
     list-style: none;
     color: #fff;
     text-decoration: none;
     }
     /*mengganti background menu ketika ditunjuk mouse */
     .menu a:hover{
     background: #000;
     }

     /* mengatur desain judul halaman dengan border di bawah */
     .judul{
     color: #555;
     border-bottom: 1px solid #ccc;
     padding-bottom: 15px;
     }
    
     /* mengatur agar lebar tabel penuh dan antar border tidak memiliki jarak */
     .table{
     width: 100%;
     margin-top: 20px;
     border-collapse: collapse;
     }
     /* menambahkan border dan padding pada sel tabel*/
     .table th, .table td{
     border: 1px solid #ccc;
     padding: 10px;
     }
     /* mengatur background bagian judul tabel*/
     .table th{
     background: #eee;
     }
     /* mengatur desain tombol yang dibuat dengan tag <a>*/
     .tombol{
     display: inline-block;
      max-width: 150px;
      padding: 15px 30px;
     color: #fff;
 text-decoration: none;
 background: #038ade;
 cursor: pointer;
 }
 /* desain tombol edit dan hapus agar lebih kecil*/
 .tombol.edit, .tombol.hapus{
     padding: 10px 15px;
      font-size: 12px;
    }
 .tombol.hapus{
 background: #fc4c4c;
 }
 /* Halaman Form */
 .form-group{
 clear: both;
 }
 .form-group label{
 display: block;
 padding: 15px 0;
 float: left;
 width: 30%;
 font-weight: bold;
 }
 .form-group .input{
 display: block;
 width: 50%;
 float: left;
 }
 input[type=radio]{
    width: 50px
 }
 .tombol.simpan{
 background: #038ade;
 }
 .tombol.reset{
 background: #fb8307;
 }
 @media (max-width: 700px) {
 .form-group label, .form-group .input {
 width: 100%;
 }
 }
 <style>